version: '3.8'

services:
  fastapi_app:
    build: ./backend
    container_name: fastapi_app
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  celery_worker:
    build: ./backend
    container_name: celery_worker
    command: ["celery", "-A", "app.celery_worker.celery_app", "worker", "--loglevel=info"]
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"
