{% extends 'layout.html' %}

{% block title %}
ورود به حساب کاربری
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
	<div class="col-4">
		<div class="card text-bg-info mb-3">
			<div class="card-header">ورود به حساب کاربری</div>
			<div class="card-body">
				<form method="post">
					<div class="mb-3">
						<label class="form-label">نام کاربری</label>
						<input type="text" class="form-control" name="username">
					</div>
					<div class="mb-3">
						<label class="form-label">گذرواژه</label>
						<input type="password" class="form-control" name="password">
					</div>
					<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input">
						<label class="form-check-label" for="exampleCheck1">مرا به خاطر بسپار</label>
					</div>
					<div class="d-grid gap-2">
						<button type="submit" class="btn btn-primary">ورود</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}