{% extends 'layout.html' %}

{% block onvan %}
  ثبت نام و ورود
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-4">

      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <div class="card text-bg-success mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <form method="post">
                <div class="mb-3">
                  <label class="form-label">Username</label>
                  <input type="text" class="form-control" name="username">
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
    </div>
  </div>
{% endblock %}