{% extends 'layout.html' %}

{% block onvan %}
  ثبت نام
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-4">

      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

        <div class="card text-bg-info mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                      <label class="form-label">City</label>
                      <input name="city" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input name="username" type="text" class="form-control">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
          </div>
    </div>
  </div>
{% endblock %}